.container.about-me {
    padding: 0 2rem;
}

.about-me {
    max-width : 960px;
    margin    : auto;
    margin-top: 6rem;
    position  : relative;
    overflow-x: hidden;
    display   : flex;
}

@media (max-width: 768px) {
    .about-me {
        flex-flow    : column;
        height       : max-content;
        margin-top   : 3rem;
        margin-bottom: 5rem;
        overflow     : visible;

    }
}

.about-me h1 {
    margin-bottom: 3rem;
    display      : flex;
    flex-flow    : row;
    align-items  : center;
    /* display   : inline-block;
    width        : auto; */
}

.about-me h1 span.title {
    display      : inline-block;
    min-width    : fit-content;
    padding-right: 1rem;
}

.about-me h1:before {
    content      : "01.";
    color        : var(--fz-color-1);
    font-size    : 1.5rem;
    padding-right: 1rem;
    font-family  : monospace;
}

.about-me h1:after {
    content   : " ";
    width     : 100%;
    border-top: 1px solid var(--fz-color-3);
    display   : inline;
}


.about-me p {
    font-size: 1.2rem;
    color    : var(--fz-color-text);
    margin   : 1rem 0;
}

.about-me span.strong {
    color: var(--fz-color-1)
}

.about-me .list-container {
    display: flex;
    margin : 2rem 0;
}

.about-me .list-container ul {
    list-style  : none;
    margin-right: 2rem;
}

.about-me .list-container ul li {
    color    : var(--fz-color-text);
    font-size: 1rem;
}

.about-me .list-container ul li::before {
    content      : "▹";
    position     : relative;
    left         : 0 px;
    color        : var(--fz-color-2);
    font-size    : 1rem;
    line-height  : 12px;
    padding-right: .5rem;
}

/* right side */
.about-me .image-container {
    min-width          : 400px;
    /* background-color:red; */
    display            : grid;
    place-items        : center;
}

.about-me .image-container>div {
    width   : 70%;
    position: relative;
}

@media (max-width: 768px) {
    .about-me .image-container>div {
        width     : 60%;
        margin-top: 2rem;
    }
    .about-me .image-container {
        min-width          : unset;
        width : 100%;
    }
}

.about-me .image-container>div .border {
    border       : 2px solid var(--fz-color-1);
    transform    : translate(20px, 20px);
    width        : 100%;
    aspect-ratio : 1/1;
    border-radius: .5rem;
    transition   : transform .15s;
}

.about-me .image-container>div:hover>.border {
    transform: translate(10px, 10px);
}

.about-me img {
    width        : 100%;
    position     : absolute;
    top          : 0;
    border-radius: .5rem;
    filter       : sepia(100%);
    transition   : filter .9s;
}

.about-me img:hover {
    filter: sepia(0%);
}